body {
    padding: 8px;
    /*background-color: rgb(230, 230, 230);*/
    background-color: lightblue;
}
.head {
    margin: auto;
    border: 2px solid black;
    min-height: 90px;
    width: 55%;
    padding: 10px;
    background-color: white;
}
.main {
    margin: auto;
    border: 2px solid black;
    min-height: 400px;
    width: 55%;
    padding: 10px;
    background-color: white;
}
